<%- include('partials/header'); -%>
 <link rel="stylesheet" type="text/css" href="/stylesheets/allbuses.css">
 <script type="text/javascript">
  $(function(){
      $(".select option").val(function(idx, val) {
            $(this).siblings("[value='"+ this.value +"']").remove();
            return val;
        });
  });
  $(function(){
    $(".selectto option").val(function(idx, val) {
            $(this).siblings("[value='"+ this.value +"']").remove();
            return val;
        });
  });
    $(function() {
      var select = $('.select');
      select.html(select.find('option').sort(function(x, y) {
      return $(x).text() > $(y).text() ? 1 : -1;
     }));

     var select1 = $('.selectto');
     select1.html(select1.find('option').sort(function(x, y) {
          return $(x).text() > $(y).text() ? 1 : -1;
     }));
   }); 
   $(document).ready(function (){ 
    $('#datepicker').datepicker({clickInput:true});
   }); 
   $(function(){
     var today = new Date().toISOString().split('T')[0];
     document.getElementsByName("date")[0].setAttribute('min', today);
   });
</script>

 <div class="container">
 <h3>Bus Fare Search</h3>
 <hr>
    <form action="/bookticket" method="POST">
    <div class="form-group">
    <label for="from">From Stoppage: </label>       
    <select class="form-control select" name="from" id="from" required>
      <%bus.forEach(function(bus){ %>
            <option value="<%=bus.from%>"><%=bus.from%></option>
            <% }) %>  
    </select>
  </div>
  <div class="form-group">
    <label for="to">To Stoppage: </label>
    <select class="form-control selectto" id="to" name="to" required>
      <%bus.forEach(function(bus){ %>
            <option value="<%=bus.to%>"><%=bus.to%></option>
            <% }) %>  
    </select>
  </div>
   <div class="form-group">
      <label for="date">Journey Date:</label>
      <input class="form-control" type="date" name="date" id="datepicker" required>
   </div>
  <div class="form-group">
    <button class="btn btn-success" id="submit">Search!</button>
  </div>
    </form>

</div>


 <%- include('partials/footer'); -%>
